html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 5vh;
  text-align: center;
}


li.connected_ip {
  list-style: none;
  width: inherit;
  margin: 0em 0em 1em 1em;
  padding: 1em;
}

li.connected_ip:hover{
  background-color:#df691a;
  opacity: 0.9;
}

li.ip {
  font-weight: bold;
  font-size: 1.5em;
  width: 10em;
}

ul.ip{
  list-style: none;
  width: 15em;
  display: inline-block;
  padding: 0em;
}

li.ip_add {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: inherit;
}

li.domain {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
}

.proto{
  padding: 0em;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  width: 15em;
  vertical-align: middle;
  height: inherit;
}

#reload_main_icon{
  font-size: 2em;
  color: white;
  opacity: 0.8;
}

#reload_main_icon:hover{
  text-decoration: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.column-ip-info h4{
  text-decoration: underline;
  font-weight: bold;
}

.ip-info-left {
  border-right: 1px dashed #333;
}

.ip-info-right {
  border-left: 1px dashed #333;
}

ul#connections .more{
  display: none;
}
#web_body .refresh {
  text-align: center;
  vertical-align: middle;
}

#conn_ips {
  padding: 0em;
  overflow-y: scroll;
  display: block;
  height: 69vh;
  margin-top:1em;
}

#conn_ips::-webkit-scrollbar{
width:16px;
background-color:#cccccc;
}

#conn_ips::-webkit-scrollbar-thumb{
background-color:#df691a;
border-radius:10px;
}

.details {
  max-height: 40vh;
  overflow-y: scroll;
}

.details::-webkit-scrollbar{
width:5px;
background-color:#cccccc;
opacity: 0.3;
direction:ltr;
}

.details::-webkit-scrollbar-thumb{
background-color:#df691a;
border-radius:4px;
}

.ip-info-box {
  width: 100%;
  overflow-y: scroll;
  max-height: 35vh;
}

.ip-info-box::-webkit-scrollbar{
width:3px;
background-color:#cccccc;
opacity: 0.3;
direction:ltr;
}

.ip-info-box::-webkit-scrollbar-thumb{
background-color:#df691a;
border-radius:4px;
}

#historic_chart{
  margin: auto;
  margin-top: 5vh;
  display:block;
}

#web_body {
  display: block;
  height: 70vh;
}

li span.glyphicon {
  margin-right: 0.5em;
}

span.computer_icon {
  font-size: 5em;
  margin: 0em;
}

.ip_info {
  list-style: none;
  padding: 0em;
  margin-left: 1em;
  display: inline-block;
}


li.connection {
   list-style: none;
   text-align: center;
   width: 90%;
   margin: 1em auto 0em auto;
 }

#ip_info_header {
  margin: 0.5em 0em 0.5em 1em;
}

#ip_info_header h3 {
  vertical-align: middle;
  margin:0em;
  margin-left:1em;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}

#ip_info_header ol {
  display: inline-block;
  background: transparent;
}

#connections h4 {
  text-align: center;
  vertical-align: center;
  margin:20vh;
  font-size: 2em;
}

#connections {
  padding: 0em;
  overflow-y: scroll;
  display: block;
  height: 59vh;
  margin-top:1em;

}

#connections::-webkit-scrollbar{
width:16px;
background-color:#cccccc;
}

#connections::-webkit-scrollbar-thumb{
background-color:#df691a;
border-radius:10px;
}

.number_badge {
  background-color: white;
  border-color: transparent;
  color: #4e5d6c;
  font-weight: bold;
  margin-top: 1.5em;
  float:left;
}

.numconn {
  list-style: none;
  padding: 0em;
  margin-left: 2em;
  display: inline-block;
  width: 11vw;
}

.sizeconn {
  list-style: none;
  padding: 0em;
  margin-left: 4em;
  display: inline-block;
  width: 16vw;
}

.connected_ip li {
  margin-bottom: 0.3em;
}

span.enable_icon {
  color:red;
  margin-left: -1.4em;
}

ul#lastconnections {
  padding: 0em;
  overflow-y: scroll;
  display: block;
  height: 69vh;
  margin-top:1em;
}

ul#lastconnections::-webkit-scrollbar{
width:16px;
background-color:#cccccc;
}

ul#lastconnections::-webkit-scrollbar-thumb{
background-color:#df691a;
border-radius:10px;
}

ul#lastconnections li.connection div.more {
  display: none;
}