@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-y4ut8j');
	src:url('/fonts/icomoon.eot?#iefix-y4ut8j') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-y4ut8j') format('woff'),
		url('/fonts/icomoon.ttf?-y4ut8j') format('truetype'),
		url('/fonts/icomoon.svg?-y4ut8j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="moonicon-"], [class*=" moonicon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.moonicon-print:before {
	content: "\e600";
}
.moonicon-screen:before {
	content: "\e601";
}
.moonicon-laptop:before {
	content: "\e602";
}
.moonicon-mobile:before {
	content: "\e603";
}
.moonicon-mobile2:before {
	content: "\e604";
}
.moonicon-tablet:before {
	content: "\e605";
}
.moonicon-tv:before {
	content: "\e606";
}
.moonicon-spinner:before {
	content: "\e607";
}
.moonicon-spinner2:before {
	content: "\e608";
}
.moonicon-spinner3:before {
	content: "\e609";
}
