<hr/>
<div class="ip-info-box row clearfix">
	<div class="column-ip-info col-md-6 column ip-info-left">
		<h4>IP Orixe</h4>
		<dl class="dl-horizontal">
			{{#each origen}}
				<dt>{{@key}}</dt>
				<dd>{{this}}</dd>
			{{/each}}
		</dl>
	</div>
	<div class="column-ip-info col-md-6 column ip-info-right">
		<h4>IP Destino</h4>
		<dl class="dl-horizontal ">
			{{#each destino}}
				<dt>{{@key}}</dt>
				<dd>{{this}}</dd>
			{{/each}}
		</dl>
	</div>
</div>